<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head') %>
<body>
    <%- include ('partials/navbar') %>

    <div class="container"><h1>Welcome to the <%= name %> subreddit</h1>
    <h2><%=description%></h2>
    <h3>Subscribers: <%= subscribers %></h3>
    <%for (post of posts) {%>
        <p><%=post.title%> - <b><%=post.author%></b></p>
        <%if(post.img){%>
            <img src="<%=post.img%>" alt="">
            <% }%>
    <% } %>
</div>
</body>
</html>